---
import PageShell from '@/components/PageShell.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="About">
  <PageShell title="About">
    <p>About page content.</p>
  </PageShell>
</Layout>
